.social {
    justify-content: center;
    align-items: center;
    height: 100%;
    column-gap: 25px !important;
}

.social a i:hover {
    font-size: 45px;
}

.social {
    display: flex;
 }
 
.social .fa-brands {
     font-size: 40px;
 }