/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

header .logo-home {
    height: 90%
}

header .logo-home img {
    height: 100%;
    width: auto;
}

/* NavBar */
header nav {
    display: flex;
    column-gap: 10px;
    width: fit-content;
}

#portfolio-dropdown {
    display: none;
    position: absolute; 
    flex-direction: column;
    align-items: center;
    z-index: 99;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #7DBECA;
    transform: translateX(-12.5px);
    border-left: white 2px solid;
    border-right: white 2px solid;
    border-top: none;
}

header nav a , #portfolio-dropdown a {
    display: inline;
    list-style-type: none;
}

header nav a:hover , #portfolio-dropdown a:hover {
    font-weight: bold;
}

#nav-projects:hover {
    cursor: pointer;
    font-weight: bold;
}

#nav-sm {
    font-size: 40px;
}

/* Footer */
footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 90px;
    bottom: 0;
    padding: 10px;
}

.social-footer {
    display: inline-flex;
    flex-wrap: nowrap;
    
}
